 <p style = "font-size:20pt;color: MidnightBlue"><i><b>ADD PO</b></i></p>
	 <hr class="colorgraphs">   
	  :vname , :vadd   
<%= form_for(@po) do |f| %>
<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :pono, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :invoiceno, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :vname, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :vadd, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :pod, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>


<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :requisitioner, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :fwdto, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :approvedby, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :terms, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :name, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :particular, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Name_of_location, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :unit, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :quantity, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :qty, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.label :Total, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td><td>
<%= f.text_field :total, :style => "color: #005C1F; font-size: 12pt; font-weight: bold;" %></td>

<%= f.submit "save" %>
<% end %>
<hr class="colorgraphs"